$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/*@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';*/

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/*for outdated browser*/
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfloat {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

ul {
    @extend .clearfloat;
    list-style-type: none;
    padding: 2px;
}

nav li{
    float: left;
    margin-left: 10px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*custom css*/

.popbar{
    background-color: red;
}

/*slide animation*/
.slide-bar{
    position: absolute;
    transition: linear 1s;
}

.slide-bar.ng-enter{
    opacity: 1;
    left: -100%;
}
.slide-bar.ng-enter-active{
    opacity: 1;
    left: 0%;   /*will not work if left is not specified*/
}
.slide-bar.ng-leave{
    opacity: 1;
    left: 0%;   /*will not work if left is not specified*/
}
.slide-bar.ng-leave-active{
    opacity: 1;
    left: -100%;
}

/*loading animation*/
.loading{
    height:100px;
    position: absolute;
    background-color: green;
    text-align: center;
    /*transform: 2s;*/
    transition: opacity 1s, -webkit-transform 1s;
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin:100% 100%;
}
.loading.hidden{
    /*opacity: 0;*/
    /*transfrom: rotateY(-90deg);*/
}
.loading.show{
    position:relative;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
}


/*sliding animation*/
.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
    position: absolute;
    right: 0; 
    left: 0;
    background: inherit;
    -ms-transition: 1.25s ease-in-out;
    -webkit-transition: 1.25s ease-in-out;
    transition:  1.25s ease-in-out;
}


.slide-left.ng-enter {
    z-index: 101;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave {
    z-index: 100;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter {
    z-index: 100;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave {
    z-index: 101;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

/*directive*/
.staricon {

    /*&:before{
        content: '';
    };*/
}

/*navigation header style*/
.navigation{
    /*height: 66px;*/
    .nav-ul{
        .nav-item{
            display: inline-block;
            width: 100px;
            height: 30px;

            /*&:nth-child(2n+1){
                font-size: 20px;
                color: red;
                background-color: green;
            }
            &:nth-child(2n+2){
                font-size: 10px;
                color:black;
                background-color: blue;
            }*/
        }
        
    }
}

.animationpage-container{
    
}

.animationblock{
    width: 100px;
    background-color: green;
    height:100px;
    position: relative;
    /*left:20px;*/
    /*top:20px;*/
}

/*contact page style*/
.item-list{
    display: inline-block;
    padding: 10px 0 0;
    width: 65%;
    border: 1px solid black;
    text-align: center;
    -webkit-transition: visibility 2s;
    li{ 
        margin:0;
        float:none;
        border: 1px solid orange;
        border-radius: 1px;
        &:nth-child(2n+1){
            background-color:green;
        };
    }
}

.button-container{
    .btn{
        width: 80px; 
    }
}