node_modules
dist
.tmp
.sass-cache
app/bower_components
app/scripts/react-components/.module-cache
.idea/.name
.idea/angularScaffold.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
