<div class="subview">
    <h4>It works!</h4>
    <div id = 'loading' class="loading">Pull Down to Refresh</div>
    <div popup-hint flagvalue="flag"></div>
    <p><a ng-href="#/">Back To Home</a></p>
    <div><a ng-href="#/contact">Contact</a></div>
    <button ng-click = "animate()">Click to Animate</button>
    <button ng-click = "pullDown()">Pull Down To Refresh</button>
    <div class='slide-bar' ng-if="animateToggle">This is the animation block</div>
    <!-- <div>{{flag}}</div> -->
</div>

