<!-- <div><a href="#/about" ng-click="navigate()">About</a></div>
<div><a href="#/" ng-click="navigate()">Home</a></div> -->
<nav class ="navigation">
    <ul class="nav-ul">
        <li class="nav-item"><a href="#/about">About</a></li>
        <li class="nav-item"><a href="#/">Home</a></li>
        <li class="nav-item"><a href="#/">Directives</a></li>
        <li class="nav-item"><a href="#/">Promise</a></li>
        <li class="nav-item"><a href="#/animation">Animation</a></li>    
    </ul>
</nav>

<div class="content container-fluid">
    <div class= "row">
        <section class="main-content col-md-8">
            Using a single set of .col-md-* grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any .row.        
        </section>
    
        <aside class="sub-content col-md-4">
            <section>
                Don't want your columns to simply stack in smaller devices? Use the extra small and medium device grid classes by adding .col-xs-* .col-md-* to your columns. See the example below for a better idea of how it all works.
            </section>
            <div class="button-container">
                <button class="btn btn-large btn-success" ng-click = "addElement()">add</button>
                <button class="btn btn-large btn-warning" ng-click = "removeElement()">remove</button>
            </div>
            <ul class="item-list">
                <li ng-repeat = "item in items track by $index" ng-bind = "item" class="fly-in-out"></li>
            </ul>
            
            
        </aside>

    </div>
</div>