<rating-widget stars="stars">

	<!-- staricon link function will execute later ratingWidget link function -->
	<staricon ng-repeat= "star in stars track by $index">
		<i class="fa fa-star"></i>
		<span ng-bind = "star.hotel"></span>
	</staricon>

	<!-- staricon link function will execute earlier ratingWidget link function -->
	<!-- <staricon>
		<i class="fa fa-star"></i>
		<span ng-bind = "stars[0].hotel"></span>
	</staricon> -->
</rating-widget>

<button class="btn btn-large" ng-click = "addStar()">Add Star!</button>
<button class="btn btn-large" ng-click = "removeStar()">Remove Star!</button>
<button class="btn btn-info" ng-click = "showModal()">Show Modal</button>
<button class="btn btn-warning" ng-click = "bootstrapModal()">BootStrap Modal</button>
<div> Stars in controller scope will change on directive click events</div>
<ul>
    <li ng-repeat= "star in stars track by $index" class ='staricon'><i class="fa fa-camera-retro fa-lg"></i></li>
</ul>

<div btmodal class="modal fade" visible="modalVisible"></div>

<!-- <div btmodal class="modal fade" visible="modalVisible">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>One fine body&hellip;</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div> -->
<h4>Customized Input using NgModelController</h4>
<custom-input ng-model = "userInput"></custom-input>
<div>This is the value in the parent controller: {{userInput}}</div>
<button ng-click = "changeUserInput()">change</button>

<h4>Below is a set of ui-bootstrap test</h4>

<h1>pop over</h1>
<button popover-placement="top" popover="On the Top!" class="btn btn-default">
	<p>top</p>
	<p>
		<span>top</span>
	</p>
	<span>Top</span>
</button>

<!-- bootstrap modal template -->
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">I'm a modal!</h3>
	</div>
	<div class="modal-body">
		<ul>
			<li ng-repeat="item in items">
				<a ng-click="selected.item = item">{{ item }}</a>
			</li>
		</ul>
		Selected: <b>{{ selected.item }}</b>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">OK</button>
		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</script>